
  
  <ul class="nav nav-pils justify-content-end">
      <li class="nav-item">
        <!--a class="nav-link " style="font-size: 50px; margin-right: 100px;" routerLink="/login">LogIn</a-->
      </li>
      <li class="nav-item">
          <a class="nav-link " style="font-size: 50px; margin-right: 100px;" routerLink="/">Home</a>
        </li>
       <li class="nav-item">
          <a class="nav-link " style="font-size: 50px; margin-right: 100px;" routerLink="/driver">Driver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="font-size: 50px; margin-right: 100px;" routerLink="/driver_details">Driver details</a>
        </li>
    </ul>
    
    <router-outlet></router-outlet>