
<div class="container">
    <form>
      <div class="form-group"><br><br>
        <br>
        <label for="lblusername">Username:</label>
        <input type="text" style="width:30%" class="form-control" id="Uname" aria-describedby="emailHelp" placeholder="Enter Username">
        
      </div>
      <div class="form-group">
        <label for="lblpassword">Password</label>
        <input type="password" style="width:30%" class="form-control" id="pwd" placeholder="Enter Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="check">Keep me signed in</label>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/driver">LogIn</button>
    </form>
    </div>
    <router-outlet></router-outlet>